
@{
    ViewBag.Title = "Home Page";
}

<div class="clearfix">
    <h1> User Login </h1>
</div>
<form action="@Url.Action("Index","Home")" method="post">
    <div class="form-group">
        <label for="txtEmail">Email address</label>
        <input type="email" class="form-control" id="txtEmail" value="@ViewBag.UserName" name="txtEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" name="txtPassword" class="form-control" value="@ViewBag.Password" id="txtPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="checkbox" name="chkRemember" class="form-check" id="chkRemember"/> Remember Me
    </div>

    <div class="row">
        <div class="col-1">
            <input type="submit" class="btn btn-primary" value="Signin" />
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#FPModal">
                Forget Password
            </button>
        </div>
    </div>
</form>
<div class="modal fade" id="FPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forget Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="@Url.Action("ForgetPassword")">
                <div class="modal-body">
                    <input type="text" placeholder="Registered E-Mail Address" name="txtForgetEmail" class="form-control col-12" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Recover Password</button>
                </div>
            </form>
        </div>
    </div>
</div>